@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Grape+Nuts&family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

:root {
    --cor-primaria: #101010;
    --cor-secundaria: #ffffe8;
    --cor-terciaria: #ffc67c;
    --cor-hover: #272727;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.navbar {
    width: 100%;
    padding: 3% 0% 0% 10%;
}

.navbar__menu {
    display: flex;
    gap: 80px;
}

.navbar__link {
    font-family: 'Courier New', monospace;
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 26px;
}

.destaque-titulo {
    color: var(--cor-terciaria);
    font-family: 'Grape Nuts', cursive;
    font-weight: 600;
    font-size: 56px;
}

.texto {
    font-size: 22px;
    font-family: cursive;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 25px;
}

.apresentacao {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* margin: 10% 10%; */
}

.conteudo {
    width: 800px;
    padding-right: 35px;
}

.icon {
    width: 36px;
}

.imagem {
    padding: 15px;
    border-radius: 100%;
    border: var(--cor-terciaria);
    border-style: outset;
}

.links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.links {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 23px;
}

.rede-social {
    border: 4px solid var(--cor-terciaria);
    width: 378px;
    border-radius: 14px;
    padding: 18px 0;
    margin: 0px 40px;
    color: var(--cor-secundaria);
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    text-decoration: none;
    font-weight: 600;
}

.rede-social:hover {
    background-color: var(--cor-hover);
}

.navbar__link:hover {
    text-decoration: underline;
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 22px;
    text-align: center;
    font-family: 'Courier New', monospace;
    font-weight: 400;
    font-size: 24px;
}
